<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Product Management</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a routerLinkActive="is-active" [routerLink]="['/welcome']" class="mdl-layout__tab">Home</a>
      <a routerLinkActive="is-active" [routerLink]="['/products']" class="mdl-layout__tab">Product List</a>
      <a routerLinkActive="is-active" [routerLink]="['/addProduct']" class="mdl-layout__tab">Add new Product</a>
      <a routerLinkActive="is-active" [routerLink]="['/sample2']" class="mdl-layout__tab">Sample Route 2</a>
      <a routerLinkActive="is-active" [routerLink]="['/sample3']" class="mdl-layout__tab">Sample Route 3</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
  </div>
  <main class="mdl-layout__content">
    
    <visited-routes></visited-routes>
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <router-outlet></router-outlet>
    </section>
  </main>

  
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">Product Management</div>
      <div class="mdl-mini-footer__right-section">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        </button>
      </div>
    </div>
  </footer>
</div>