.visitedRoutesWrapper {
    width: 100%;
    background-color: #E0F2F1;
    display: flex;
    list-style: none;
    padding-left: 0px;
    border: 2px #E0F2F1 solid;
    border-radius: 2px;
}

.visitedRoute {
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    height: 40px;
    font-weight: bold;
    background-color: #009688;
    border-right: 1px solid white;
}

.visitedRoute button {
    color: white;
}