        <div class="mdl-cell--12-col">
            {{ pageTitle }}
        </div>
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" [(ngModel)]='filterStr' class="mdl-textfield__input" id="filterStr" [ngModelOptions]="{standalone: true}"/>
                <label for="filterStr" class="mdl-textfield__label">Filter by...</label>
            </div>
        </form>

        <div class="product-list" *ngIf='products && products.length'>
            <div class="mdl-cell mdl-cell--2-col list-item" *ngFor='let product of products | productFilter:filterStr'>
                <div class="mdl-card product-card mdl-shadow--2dp" >
                    <div class="mdl-card__title" [ngStyle]="{'background': 'url(' + product.imgUrl + ') center / cover'}">
                        <h2 class="mdl-card__title-text">
                            {{ product.name }}
                        </h2>
                        <div class="mdl-layout-spacer"></div>
                        <ai-star [rating]='product.rating'
                                 (notify)='ratingClickHandler($event)'
                                 class="rating-style">
                        </ai-star>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {{ product.description }}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           [routerLink]="['/product', product.id]">
                           View Details
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                        <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" (click)="removeItem(product.id)">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored addBtn-display"
                (click)="addNewItem()">
                <i class="material-icons">add</i>
            </button>
        </div> 