.details {
    font-size: 15px;
    margin-top: 20px;
    display: flex;
}

.detailLabel {
    font-weight: bold;
    padding-left: 0px;
}

.detailWrapper {
    margin: 10px;
    display: flex;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.back-btn {
    margin: 20 px;

}

.review-btn-wrapper {
    align-self: center;
}