<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{ pageTitle }}
    </div>
    <div class="panel-body" *ngIf='product'>
        <h2>{{ product.productName }}</h2>
        <div class="row details">
            <div class="col-md-6">
                <div class="detailWrapper row">
                    <span class="detailLabel col-md-3">Name:: </span>
                    <span class="col-md-9">{{ product.productName }}</span>
                </div>
                <div class="detailWrapper row">
                    <span class="detailLabel col-md-3">Product Code: </span>
                    <span class="col-md-9">{{ product.productCode }}</span>
                </div>
                <div class="detailWrapper row">
                    <span class="detailLabel col-md-3">Release Date: </span>
                    <span class="col-md-9">{{ product.releaseDate }}</span>
                </div>
                <div class="detailWrapper row">
                    <span class="detailLabel col-md-3">Description: </span>
                    <span class="col-md-9">{{ product.description }}</span>
                </div>
                <div class="detailWrapper row">
                    <span class="detailLabel col-md-3">Price: </span>
                    <span class="col-md-9">{{ product.price | currency:'USD':true }}</span>
                </div>
                <div class="detailWrapper row">
                    <span class="detailLabel col-md-3">5 Star Rating: </span>
                    <span class="col-md-9"><ai-star [rating]='product.starRating'></ai-star></span>
                </div>
            </div>
            <div class="col-md-6">
                <img [src]='product.imageUrl' 
                    [title]='product.productName' 
                    [style.width.px]='imageWidth'
                    [style.margin.px]='imageMargin'
                />
            </div>
        </div>
    </div>
    <button class="btn btn-default" (click)="OnBack()"><span class="fa fa-chevron-left"></span> Back</button>
</div>
