<div class="mdl-cell mdl-cell--12-col">
    {{ pageTitle }}
</div>
<form [formGroup]="product" (ngSubmit)="addProduct(product.value)" class="centering">
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <label class="mdl-textfield__label" for="name">Product Name</label>
        <input class="mdl-textfield__input" type="text" id="name">
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <label class="mdl-textfield__label" for="code">Product Code</label>
        <input class="mdl-textfield__input" type="text" id="code">
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <label class="mdl-textfield__label" for="releaseDate">Release Date</label>
        <input class="mdl-textfield__input" type="date" id="releaseDate">
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <label class="mdl-textfield__label" for="description">Description</label>
        <input class="mdl-textfield__input" type="text" id="description" (click)="(this.placeholder='false')">
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <label class="mdl-textfield__label" for="price">Price</label>
        <input class="mdl-textfield__input" type="number" id="price">
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <label class="mdl-textfield__label" for="rating">Rating</label>
        <input class="mdl-textfield__input" type="number" id="rating">
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <label class="mdl-textfield__label" for="imgUrl">Image Url</label>
        <input class="mdl-textfield__input" type="text" id="imgUrl">
    </div>
    <div class="mdl-layout-spacer"></div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
</form>
